#gem1{
    height:150px;
    width:150px;
    background-color: red;
}
#gem2{
    height:150px;
    width:150px;
    background-color: blue;
}
#gem3{
    height:150px;
    width:150px;
    background-color: green;
}
#gem4{
    height:150px;
    width:150px;
    background-color: yellow;
}
.jumbotron{
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Abril Fatface', cursive;

}
.toprow{
    margin-top: 4%;
}
.lowrow{
    margin-top: 2%;
}
body{
    background-color: #ddd; 
    background-image: url(../images/bkgnd.png);
}
#automusic{
    display:none;
}
